
.cart-widget-container {
  display: flex;
  align-items: center; 
  justify-content: center;
}


.cart-widget-container img {
  width: 80px;
  cursor: pointer;
}


.cart-widget-container strong {
  font-size: 1.2rem;
  color: #f7931e; 
  margin-left: 10px;
  background-color: #000; 
  padding: 3px 8px; 
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
}
