/* Contenedor de los productos */
.contenedorProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}
